.collection-item {
  flex: 1 0 250px;
  margin: 1% 2% 5% 0;
  padding: 0%;
  height: 450px;
  display: inline-block;
  flex-flow: row;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}
